/*Cores*/
:root{
    --cor-branco: #f4f4f4;
    --cor-preta:#000;
    --cor-cinza:#333;
    --cor-branca:#fff
    --cor-vermelho:#ff6b6b;
    --cor-brancos:white;

/*
p{
color: var(--cor-preto);
}
*/
/*Fontes */
    --f1: clamp(1em, 1vw, 1.5em);
    --f2: clamp(2em, 1vw, 2.2em);
    --f3: clamp(3em, 1vw, 3.3em);
    /*
    p{
    font-size: var(--f1);
    }
    */
}